.editbox {
  font-family: monospace;
  font-size: 10pt;
  line-height: 1.1em;
  cursor: text;
  padding: 6px;
  margin: 0px;
  color: black;
}

pre.code, .editbox {
  color: #666666;
}

.editbox p {
  margin: 0;
}

span.cs-delimiter, span.cs-special {
  color: #666666;
}

span.cs-operator {
  color: #666666;
}

span.cs-error {
  background-color: #660000;
  color: #FFFFFF;
}

span.cs-keyword, span.cs-symbol {
  color: #770088;
  font-weight: bold;
}

span.cs-literal {
  color: #228811;
}

span.cs-identifier, span.cs-func  {
  color: black;
}

span.cs-type {
  color: #0000FF;
}

span.cs-heredoc {
  color: #2222CC;
}

span.cs-comment {
  color: #AA7700;
}

span.cs-string {
  color: #AA2222;
}

