/* Sprites */

.sprite{
    display: inline-block;
    overflow: hidden;
    width:16px; height:16px;
    text-align: left !important;
    text-indent: -99999px;
    background-repeat:no-repeat;  
    background-image:url(/img/sprites.png);
}
.s_thumb_up{background-position:0px 0px;}
.s_bitcoin{background-position:0px -18px;}
.s_exclamation{background-position:0px -36px;}
.s_page_copy{background-position:0px -54px;}
.s_textfield{background-position:0px -72px;}
.s_arrow_up{background-position:0px -90px;}
.s_bullet_arrow_up{background-position:0px -108px;}
.s_image_link{background-position:0px -126px;}
.s_page_delete{background-position:0px -144px;}
.s_image_add{background-position:0px -162px;}
.s_page_add{background-position:0px -180px;}
.s_flattr{background-position:0px -198px;}
.s_user{background-position:0px -216px;}
.s_page_save{background-position:0px -234px;}
.s_tick{background-position:0px -252px;}
.s_key{background-position:0px -270px;}
.s_disconnect{background-position:0px -288px;}
.s_image{background-position:0px -306px;}
.s_help{background-position:0px -324px;}
.s_disk{background-position:0px -342px;}
.s_arrow_redo{background-position:0px -360px;}
.s_thumb_down{background-position:0px -378px;}
.s_information{background-position:0px -396px;}
.s_time{background-position:0px -414px;}
.s_page_edit{background-position:0px -432px;}
.s_processingjs{background-position:0px -450px;}
.s_control_play_blue{background-position:0px -468px;}
.s_control_pause_blue{background-position:0px -486px;}
.s_bullet_arrow_down{background-position:0px -504px;}
.s_camera{background-position:0px -522px;}
.s_arrow_undo{background-position:0px -540px;}
.s_images{background-position:0px -558px;}
.s_control_stop_blue{background-position:0px -576px;}
.s_connect{background-position:0px -594px;}
.s_coffeescript{background-position:0px -612px;}
.s_link{background-position:0px -630px;}
.s_image_edit{background-position:0px -648px;}


/* CodeMirror Style */
.CodeMirror {
  line-height: 1.2em;
  font-size: 14px;
  font-family: monospace;
  height: 100%;
}

.CodeMirror-scroll {
  overflow-y: scroll;
  height: 100%;
}

.CodeMirror-gutter {
  position: absolute; left: 0; top: 0;
  background-color: #f7f7f7;
  border-right: 1px solid #eee;
  min-width: 2em;
  height: 100%;
}
.CodeMirror-gutter-text {
  color: #aaa;
  text-align: right;
  padding: .4em .2em .4em .4em;
}
.CodeMirror-lines {
  padding: .4em;
}

.CodeMirror pre {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-width: 0; margin: 0; padding: 0; background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0; margin: 0;
  white-space: pre;
  word-wrap: normal;
}

.CodeMirror textarea {
  font-family: inherit !important;
  font-size: inherit !important;
}

.CodeMirror-cursor {
  z-index: 10;
  position: absolute;
  visibility: hidden;
  border-left: 1px solid black !important;
}
.CodeMirror-focused .CodeMirror-cursor {
  visibility: visible;
}

span.CodeMirror-selected {
  background: #ccc !important;
  color: HighlightText !important;
}
.CodeMirror-focused span.CodeMirror-selected {
  background: Highlight !important;
}

.CodeMirror-matchingbracket {color: #0f0 !important;}
.CodeMirror-nonmatchingbracket {color: #f22 !important;}

/* Cooffeescript styles */
span.cm-delimiter,
span.cm-special {color: #FF5500;}

span.cm-error {background-color: #660000; color: #FFFFFF;}

span.cm-keyword,
span.cm-operator {color: #770088;}

span.cm-number,
span.cm-literal {color: #002EE0;}

span.cm-constant {color: #44AAFF;}

span.cm-identifier,
span.cm-func {color: #000;}
span.cm-punctuation {color: #000;}

span.cm-thisprop {color: #3090AA;}

span.cm-comment {color: #AA7700;}

span.cm-string,
span.cm-bytes,
span.cm-raw,
span.cm-unicode {color: #228811;}
span.cm-string-2 {color: #00DD22;}

/* pcs styles */ 
body, #viewNav {
    margin: 0; padding: 0; overflow: hidden;
    min-width: 470px;
}

#viewer, #editor, #gallery, #help {display: none; }

#editor, #gallery, #help {
    width: 100%;
    position: absolute;
    top: 24px;
}

#help {overflow-y: scroll; }
#help ul {
    margin: 1em;
    width: 80%;
    max-width: 40em;
    list-style-type: decimal;
}
#help p {
    margin-left: 1em;
    margin-bottom: 2em;
}

#canvas { z-index:1; }

#viewNav {
    z-index:2;
    border-bottom: 1px solid #999;
    background-color: #eee;
    height:24px;
    width:100%;
    position: absolute;
    top: 0px;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
    -o-box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
}

#viewNav .script-path {
    position: absolute; top: 0px; left: 220px;
    width: 35%;
    height: 23px;
    font-family: monospace;
    z-index: 3;
    border: 1px solid gray;
    border-width: 0 1px;
    background: white;
    padding-left: .5em;
    display: none;
}
#viewNav .script-path:focus {
    outline: none;
    -moz-box-shadow: inset 0 0 3px #000;
    -webkit-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
}

#viewNav .buttons-left {
    float: left;
}
#viewNav .buttons-right {
    float: right;
    margin-right: 2px;
}

.button, .spacer {
    display: block;
    float:left;
    padding:5px;
    line-height:0;
    margin:0 1px;
    margin-right:0px;
    cursor:pointer;
}

.spacer {
    display: block;
    line-height:0;

    cursor:default;
    width:8px;
    height:1px;
    padding:0px;
}

.button:hover {
    padding:4px;
    border:1px solid #ccc;
}

.button.navbar-show {
    display: none;
    position: absolute;
    top: 0px; left: 27px;
    float: left;
}
.button.navbar-show > span {
    visibility: hidden;
}
.button.navbar-show:hover > span {
    visibility: visible;
}

.button.inactive {
    background:#ccc;
}
.doc-box {
    position: absolute;
    background: #f8f8ff;
    border: 1px solid #ccc;
    max-width: 60%;
    padding: 3px;
    overflow-x: auto;
    z-index: 10;
}
.doc-box div {
    margin-left: 2em;
}

.completions {
    position: absolute;
    z-index: 11;
}
.completions select {
    background: white;
}

.CodeMirror pre.errorline {
    background: #F55;
    color: black;
}

/* Gallery */

#gallery .gallery-items {
    width: 580px; /* should fit exactly two */
    margin: 0 auto 20px auto;
}

#gallery .gallery-item {
    width: 280px;
    margin: 10px 0 5px 20px;
}

#gallery .nav-item {
    height: 90%;
    margin: 0;
    top: 35px;
    position: fixed;
    text-align: center;
    color: #333;
}

#gallery .nav-item span {
    border: none;
}

#gallery .nav-item.active {
    cursor: pointer;
}

#gallery .nav-item.active span {
    position: relative;
    top: 50%;
    display: inline-block;
    border-style: solid;
    border-color: transparent;
}


#gallery .nav-prev { left: 0px; }
#gallery .nav-next { right: 0px; }
#gallery .nav-prev.active span {
    border-color: transparent black transparent transparent;
    border-width: 8px 8px 8px 0;
}
#gallery .nav-next.active span {
    border-color: transparent transparent transparent black;
    border-width: 8px 0 8px 8px;
}

#gallery .gallery-item, #gallery .nav-item.active > div {
    display: inline-block;
    background: linear-gradient(#fafafa, #eee);
    background: -webkit-gradient(
        linear, 0% 0%, 0% 100%,
        from(#fafafa), to(#eee)
    );
    background: -webkit-linear-gradient(#fafafa, #eee);
    background: -moz-linear-gradient(#fafafa, #eee);
    background: -ms-linear-gradient(#fafafa, #eee);
    background: -o-linear-gradient(#fafafa, #eee);
    background: linear-gradient(#fafafa, #eee);
    -moz-box-shadow: 0 0 2px #777;
    -webkit-box-shadow: 0 0 2px #777;
    box-shadow: 0 0 2px #777;
}

#gallery .nav-item > div {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ececec;
    background: #fcfcfc;
}

#gallery .nav-item > div { margin: 0; width: 25px; height: 100%; }
#gallery .nav-prev > div { margin-left: 5px; }
#gallery .nav-next > div { margin-right: 5px; }

#gallery .nav-item.active > div:hover, #gallery .gallery-item:hover {
    -moz-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
}

.gallery-item .item-elem {
    width: 256px;
    margin: 10px auto 0 auto;

    display: block;
    overflow: hidden;
}

.gallery-item .item-elem a {
    float: right;
    margin: 0;
    height: 16px;
}

.gallery-item img.item-elem, .gallery-item .item-text {
    background: white;
    border: 1px solid #333;
}

.gallery-item a {
    text-decoration: none;
    color: black;
}

.gallery-item img.item-elem {
    width: 256px;
    height: 160px;
    background-image: url(/static/default.png);
}

.gallery-item .item-marker {
    width: 120px;
    position: relative;
    border-bottom: 1px solid #000;
    margin: 0 15px;
}

.gallery-item .item-text {
    height: 160px;
    overflow: hidden;
    font-size: 11px;
    color: #222;
}

.gallery-item .item-text pre {
    margin: 5px;
    position: relative;
}

.gallery-item .item-text:hover {color: #000;}

.gallery-item .item-sep {
    height: 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid white;
}

.gallery-item .item-bottom {
    margin-bottom: 8px;
}
.gallery-item .item-bottom a {
    margin: 0 4px;
}

span.spinner {
    background-position:0px 0px;
    background-image: url(/static/spinner.gif)
}