.sprite{display:inline-block;overflow:hidden;width: 16px;height: 16px;text-align: left !important;text-indent: -99999px;background-repeat:no-repeat;background-image:url(/img/sprites.png);}
.s_thumb_up{background-position:0px 0px;}
.s_bitcoin{background-position:0px -18px;}
.s_exclamation{background-position:0px -36px;}
.s_page_copy{background-position:0px -54px;}
.s_textfield{background-position:0px -72px;}
.s_arrow_up{background-position:0px -90px;}
.s_bullet_arrow_up{background-position:0px -108px;}
.s_image_link{background-position:0px -126px;}
.s_page_delete{background-position:0px -144px;}
.s_image_add{background-position:0px -162px;}
.s_page_add{background-position:0px -180px;}
.s_flattr{background-position:0px -198px;}
.s_user{background-position:0px -216px;}
.s_page_save{background-position:0px -234px;}
.s_tick{background-position:0px -252px;}
.s_key{background-position:0px -270px;}
.s_disconnect{background-position:0px -288px;}
.s_image{background-position:0px -306px;}
.s_help{background-position:0px -324px;}
.s_disk{background-position:0px -342px;}
.s_arrow_redo{background-position:0px -360px;}
.s_thumb_down{background-position:0px -378px;}
.s_information{background-position:0px -396px;}
.s_time{background-position:0px -414px;}
.s_page_edit{background-position:0px -432px;}
.s_processingjs{background-position:0px -450px;}
.s_control_play_blue{background-position:0px -468px;}
.s_control_pause_blue{background-position:0px -486px;}
.s_bullet_arrow_down{background-position:0px -504px;}
.s_camera{background-position:0px -522px;}
.s_arrow_undo{background-position:0px -540px;}
.s_images{background-position:0px -558px;}
.s_control_stop_blue{background-position:0px -576px;}
.s_connect{background-position:0px -594px;}
.s_coffeescript{background-position:0px -612px;}
.s_link{background-position:0px -630px;}
.s_image_edit{background-position:0px -648px;}
